{% extends 'base.html' %}

{% block head %}
  {{ block.super }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
  <script type="text/javascript">
    Chart.defaults.global.legend.display = false;
    Chart.defaults.global.tooltips.enabled = false;
  </script>
  <style type="text/css">
    .bg-1 p {
      color: #888;
      font-style: italic;
      padding-left: 30px;
      padding-right:30px;
    }
    .bg-2 p {
      color: #888;
      font-style: italic;
      padding-left: 30px;
      margin-top:-10px;
    }
    .centrage {
    margin: auto;
    text-align: center;
    }
    #wastes {
      margin-left:auto;
      margin-right:auto;
      text-align: center;
    }
    #wastes > div {
      display:inline-block;
      vertical-align: top;
    }
    .waste {
      width:60px;
      height: 85px;
      text-align: center;
      border: 1px solid #aaa;
      border-radius: 5px;
      cursor: pointer;
      margin:3px;
      font-size: 0.6em
    }
    .waste img {
      width:50px;
      height: 50px;
    }
  </style>

{% endblock head %}

{% block body %}

<div id="Modal" class="modal fade  well well-sm" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Merci ! Vous êtes le <strong>{{ contributeur_num }}<sup>{{ contributeur_num|pluralize:"er,ème" }}</sup></strong> contributeur pour <strong>{{ ville|upper }}</strong></h4>
      </div>
      <div style="padding-left: 20px; margin-top: 10px">Votre contribution parmi celles pour {{ ville|upper }}</div>
      <div class="modal-header centrage">    
        <div class="row">
          <div class="col-sm-1"></div>
            {% for item in d %}
            <div class="col-xs-3 col-sm-1">
              <div style="background-color: {{ item.contribution_color.color }}; border: 0.5px solid #AAAAAA; width:25px; height: 25px; border-radius: 25px; margin-bottom: 10px; margin-left: 20px;">
                      <span style="color: {{ item.contribution_color.color }}; text-align: center;font-size: 0.5em;line-height:0.3;"> ● </span>
              </div>
              <div class="waste" id="waste-{{ item.waste.id }}" data-waste="{{ item.waste.id }}">
                <img draggable="false" src="{{ item.waste.image.url }}" alt="{{ item.waste.name }}">
                {{ item.waste.name|title }}
              </div>
              <canvas id="myChart_{{ forloop.counter0 }}" style="margin-top: 10px;margin-left: 10px; margin-bottom: 25px;" width="100%" height="100%"></canvas>
                <script>
                  var ctx = document.getElementById("myChart_{{ forloop.counter0 }}");
                  var myChart = new Chart(ctx, {
                    type: 'doughnut',
                    animation: {
                      animateRotate: false,
                      animateScale: false
                    },
                    data: {{ item.datas|safe }}
                  })
                </script>
            </div>
            {% endfor %}
          <div class="col-xs-2"></div>
        </div>
      </div>
      <div class="modal-body">
        <div class="row bg-1">
                <p>Grâce a la contribution commune, le recensement de la couleur des poubelles est deja en cours pour 
                <strong>{{ communes_couvertes }} communes.</strong></p>
                <p>Vous êtes le <strong>{{ contributeur_num_nat }}<sup>{{ contributeur_num_nat|pluralize:"er,ème" }}</sup> contributeur</strong> au niveau national</p>
        </div>
      </div>
      <div class="modal-footer" >
    <div class="row">
      <div class="col-md-1 hidden-xs">
      </div>
      <div class="col-xs-2">
        <span style="font-size:2.5em; color: #AAA; position: relative; padding-left: 0px; padding-top: 0px;" class="glyphicon glyphicon-hand-right"> </span>
      </div>
      <div class="col-xs-3 thumbnail" align="center">
        <p> Partager mes résultats ()</p>
        <ul class="nav nav-pills" aria-labelledby="dropdownMenuTwt3">
                <li role="presentation" style="padding-left: 10px;padding-right: 10px;">
                    <a href="https://twitter.com/share" class="twitter-share-button" 
                        data-url="http://communeruche.fr/trashadvisor/resultat/{{ contribution_id }}/" 
                        data-text="j'ai contribué à la carte de France de la couleur des poubelles. Et vous ?" 
                        data-via="ruche_pp"
                        data-related="ruche_pp" 
                        data-hashtags="trashadvisor" 
                        data-lang="fr"
                        data-dnt="true">
                      Tweet
                    </a>
                </li>
                <li role="presentation" style="padding-left: 10px;padding-right: 10px;">
                    <div class="fb-share-button" data-href="http://communeruche.fr/trashadvisor/" data-layout="button" data-size="small" data-show-faces="true"></div>
                </li>
        </ul>
      </div>
      <div class="col-xs-2"><span style="font-size:2.5em; color: #AAA; position: relative; padding-left: 0px; padding-top: 0px;" class="glyphicon glyphicon-hand-right"></span></div>
      <div class="col-xs-3 thumbnail" align="center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Voir la carte</button><a class="btn btn-default" href="carte.php" role="button">Voir la carte</a>
      </div>
      <div class="col-md-1 hidden-xs">
      </div>
    </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
  <h5>Merci ! Vous êtes le {{ contributeur_num }}<sup>{{ contributeur_num|pluralize:"er,ème" }}</sup> contributeur pour {{ ville|upper }}</h5>
  <hr>
  <h6>{{ ville|upper }}</h6>
  </div>

</div>

  <div class="row">
    {% for waste in wastes %}
    <div class="col-sm-1">
      <div class="waste" id="waste-{{ waste.id }}" data-waste="{{ waste.id }}">
        <img draggable="false" src="{{ waste.image.url }}" alt="{{ waste.name }}">
        {{ waste.name|title }}
      </div>
    </div>
    {% endfor %}
  </div>
  <h6>Votre contribution</h6>
  <div class="row">
  {% for key, val in waste_contribution_colors.items %}
    <div class="col-sm-1" ">
     <div style="color: {{ val }}; text-align: center;font-size: 5em;line-height:0.65;"> ● </div>
    </div>
  {% endfor %}
  </div>
  <br>
  <h6>L'ensemble des contributions pour {{ ville|upper }}</h6>
  <div class="row">
    {% for data in datas %}
    <div class="col-sm-1">
      <canvas id="myChart{{ forloop.counter0 }}" width="100%" height="100%"></canvas>
      <script>
        var ctx = document.getElementById("myChart{{ forloop.counter0 }}");
        var myChart = new Chart(ctx, {
          type: 'pie',
          animation: {
            animateRotate: false,
            animateScale: false
          },
          data: {{ data|safe }}
        })
      </script>
    </div>
    {% endfor %}
  </div>

  <div class="row">
  <div class="col-sm-12">
  <br>
  <p class="lead">
    Vous êtes le <strong>{{ contributeur_num_nat }}<sup>{{ contributeur_num_nat|pluralize:"er,ème" }}</sup> contributeur</strong> au niveau national.
    <br>
    Grâce à votre contribution la couleur des poubelles est recensée dans <strong>{{ communes_couvertes }} communes</strong>.
    </p>
  <br>
    </div>

    <div class="col-sm-12">
      <a href="{% url 'consulter' %}" class="btn btn-secondary">Voir la carte de toutes les contributions</a>
    </div>

  </div>
      <br>
{% endblock body %}
{% block bottom %}
{{block.super}}
  <script>
  $( document ).ready(function() {    
  $('#Modal').modal('show');
  });
  </script>
{% endblock bottom %}