{% extends 'base.html' %}
{% load static include_anything leaflet_tags %}

{% block head %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}

	<style type="text/css">

		.container1 {
    		padding: 50px 50px;
		}
		.container2 {
			padding-top: 20px;
			padding-bottom: 20 px;
		}		
		#concept-general{
			margin-bottom: 10px;
		}
		#pitch{
			font-size: 20px;
		}
		img {
			padding-bottom: 10px;
		}
		input[type=text], input[type=password] {
			margin: 8px;
    		border: 1px solid #ccc;
    		padding: 4px 15px;
		}
		input[type=submit] {
			margin: 8px;
		}		

		body{
		    background: url('static/Images/verre-de-vin-fonds-boise.jpg') no-repeat center center fixed;
		    -webkit-background-size: cover;
		    -moz-background-size: cover;
		    -o-background-size: cover;
		    background-size:100% auto;
		    background-color: black;
		    color:white;
		}


	</style>

{% endblock %}


{% block body %}

    	<!-- Pitch -->
	<div id="pitch" class="container2 text-xs-center">
		<div class="row">
			<div id="concept-general" class="container-fluid">
				<h3>Le concept</h3>
				<p><em>Les meilleurs vins de dix à trente euros.</em></p>
			</div>
			<div class="col-md-3"></div>
			<div id="concept" class="col-md-3 col-sm-12">
				<br/>
				<p>Une sélection de 3 vins par mois...  </p>
				<p>2 vins rouges et 1 vin blanc... </p>
				<p>Entre 10€ et 30€... </p>
				<p>Livraison par relation à disposition des clients </p>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>

	   <!-- Container (Contact Section) -->
	{% if user.is_authenticated %}
		<div class="container-fluid container1 text-xs-center">
    		<a href="/consulter"  class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Consulter les vins</a>
    	</div>
    {% else %}
		<div class="container-fluid container1 text-xs-center">
    		<a href="/login"  class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Login</a>
    	</div>
	{% endif %}
{% endblock body %}


{% block bottom %}
	{{ block.super }}


{% endblock %}


