{% extends 'base.html' %}
{% load static include_anything leaflet_tags %}

{% block head %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}

	<style type="text/css">

		.container1 {
    		padding: 50px 50px;
		}
		.container2 {
			padding-top: 20px;
			padding-bottom: 20 px;
		}		
		#concept-general{
			margin-bottom: 10px;
		}
		#pitch{
			font-size: 20px;
		}
		.button{
			font-family : inherit;
			background-color: black;
			color: white;
			border-radius: 10px;
			border: 2px solid #e33f58;
			width: 260px;
			height: 60px;
			font-size: 20px;
		}
		.button:hover { 
    		background-color: white;
    		border: 2px solid black;
    		color: #e33f58;
		}

	</style>

{% endblock %}


{% block body %}

    	<!-- Pitch -->
	<div id="pitch" class="container-fluid container1 text-xs-center">

	    <button class="button" type="submit" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
	    	<b>Le concept</b>
	    </button>


		<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
		  	<div class="card-block">
			<p><em>Les meilleurs vins de dix à trente euros.</em></p>
			<br/>
			<p>Une sélection de 3 vins par mois...  </p>
			<p>2 vins rouges et 1 vin blanc... </p>
			<p>Entre 10€ et 30€... </p>
			<p>Livraison par relation à disposition des clients </p>
		   	</div>
		</div>
	</div>

	   <!-- Container (Contact Section) -->
	{% if user.is_authenticated %}
		<div class="container-fluid container1 text-xs-center">
    		<a href="/consulter">
    			<button class="button" type="submit"><b>Consulter les vins</b></button>
    		</a>
    	</div>
    {% else %}
    	<div class="container-fluid container1 text-xs-center">
    		<a href="/login">
    			<button class="button" type="submit"><b>Login</b></button>
    		</a>
    	</div>
	{% endif %}
{% endblock body %}


{% block bottom %}
	{{ block.super }}


{% endblock %}


