{% extends 'base.html' %}
{% load static include_anything leaflet_tags %}

{% block head %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}

  	<style type="text/css">

	</style>

{% endblock %}


{% block body %}
	<div id="vins" class="container-fluid container1 text-xs-center">
	    {% for vin in vins %}
	    <div class="row">
	    {{ vin.nom }} ({{ vin.millesime }}) {{ vin.appelation }} - ({{ vin.couleur }})
	    </div>
	    {% endfor %}
	</div>
{% endblock body %}


{% block bottom %}
	{{ block.super }}


{% endblock %}