{% extends 'base.html' %}
{% load static include_anything leaflet_tags %}

{% block head %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}

  	<style type="text/css">
  		.vin{

  			border-radius: 10px;
			border: 2px solid #e33f58;
			padding: 10px;
			background-color: black;
			opacity: 0.8;
  		}
  		.imgVin{
  			background-color: white;
  		}
  		.padding-bottom{
  			padding-bottom: 20px;
  		}
  		#description{
  			margin-top: 10px;
  		}
  		#commande{
  			padding-top: 10px;
  			border-top:#e33f58;
  			border-top-style: ridge;
  		}
	</style>

{% endblock %}


{% block body %}
	<div class="container-fluid container1 text-xs-center">
	    <div class="row padding-bottom">
	    {% for vin in vins %}
	    {% if forloop.counter0|divisibleby:4 %}
	    <div class="col-sm-2"></div>
	    {% endif %}
	    <div class="col-sm-2">
	    	<div class ="vin">
	    		<a href="/informationVin/{{ vin.id }}/">
	    		<img src="{{ vin.image.url }}" class="imgVin" alt="Wine bottle" style="width:90%;" ><br/>
		    	<div id="description">
		    		<p>{{ vin.nom }} ({{ vin.millesime }}) {{ vin.appelation }} - ({{ vin.couleur }})</p>
		    		<form id="commande">
		    			Quantité : <input type="number" name="quantity" min="1" max="100">
		    			<input type="submit" value="OK">
		    		</form>
		    	</div>
				</a>
		    </div>
	    </div>
	    {% if forloop.counter|divisibleby:4 %}
	    <div class="col-sm-2"></div>
	    </div>
	    <div class="row">
	    {% endif %}
	    {% endfor %}
	    </div>	    
	</div>
{% endblock body %}


{% block bottom %}
	{{ block.super }}


{% endblock %}