{% extends 'base.html' %}
{% load static include_anything leaflet_tags %}

{% block head %}
  {{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}

  	<style type="text/css">
		.vin{
  			border-radius: 10px;
			border: 2px solid #e33f58;
			padding: 10px;
			background-color: black;
			opacity: 0.8;
  		}
  		.avis{
  			font-size : 14px;
  		}
  		hr
		{
    		display: inline-block;
    		width: 100%;
		}
	</style>

{% endblock %}


{% block body %}
	<div class="container-fluid container1 text-xs-center">
	    <div class="row padding-bottom">
	    <!-- <div class="col-sm-1">
	    </div>-->
	    <div class="col-sm-2 vin">
	    	<div>
	    		<img src="{{ vin.image.url }}" class="imgVin" alt="Wine bottle" style="width:90%;" ><br/>
		    </div>
		    <div>
	    			{% leaflet_map "carte" %}
	    		</div> 
	    </div>
	    <div class="col-sm-1">
	    </div>
	    <div class="col-sm-5 vin">
	    	<p align=center> CARACTERISTIQUES </p>
	    	<p align=left>Domaine : </p>
	    	<p align=left>Nom : {{ vin.nom }}</p>
	    	<p align=left>Région : </p>
	    	<p align=left>Appellation : {{ vin.appelation.nom }}</p>
	    	<p align=left>Millésime : {{ vin.millesime }}</p>
	    	<p align=left>Couleur : {{ vin.couleur }}</p>
	    	<p align=left>Assemblage : {{ assemblage }}</p>
	    	<p align=left>Terroir : </p>
	    	<p align=left>Degré d'alcool : </p>
	    	<p align=left>Elevage : </p>
	    	<p align=center> DEGUSTATION </p>
	    	<p align=left>Oeil : </p>
	    	<p align=left>Nez : </p>
	    	<p align=left>Bouche : </p>
	    	<p align=center> ACCORD METS / VIN </p>
	    	<p align=left>à déguster sur des viandes rouges,...</p>
	    </div>
	    <div class="col-sm-1">
	    </div>
	    <div class="col-sm-3 vin">
	    	<p align=center> AVIS EXPERTS </p>
			<div class="vin avis" id="partners">
	    		<p align=center>Experts</p>
	    		<p align=left>blablabla </p>
	    	</div>
	    	<p align=center>  </p>
	    	<p align=center> AVIS </p>
	    	<p align=center>  </p>
	    	<div class="vin avis" id="partners">
	    		<p align=center>Partners</p>
	    		<p align=left>blablabla </p>
	    	</div>
	    	<p align=center>  </p>
	    	<div class="vin avis" id="partners">
	    		<p align=center>Partners</p>
	    		<p align=left>blablabla </p>
	    	</div>
	    	<p align=center>  </p>
	    	<div class="vin avis" id="partners">
	    		<p align=center>Partners</p>
	    		<p align=left>blablabla </p>
	    	</div>
	    	<p align=center>  </p>
	    	<div class="vin avis" id="partners">
	    		<p align=center>Partners</p>
	    		<p align=left>blablabla </p>
	    	</div>
	    	<p align=center>  </p>
	    </div>
	</div>

{% endblock body %}


{% block bottom %}
	{{ block.super }}
<script type="text/javascript">
	$(window).on('map:init', function (e) {
      function onEachFeature(feature, layer) {
      if (feature.properties) {
          var content_img = '';
          if(feature.properties.feature !== null){
          }
          var content = "<p style='color: grey;'> Appelation "+feature.properties.nom+"</p>";
          layer.bindPopup(content);
          }
      }
      var detail = e.originalEvent ?
                   e.originalEvent.detail : e.detail;

      var marker = L.marker([{{ vin.appelation.centroide.y|safe }}, {{ vin.appelation.centroide.x|safe }}]).bindPopup("<p style='color: grey;'>{{ vin.appelation.nom|safe }}</p>");
      marker.addTo(detail.map);
      
      detail.map.setView([ {{ vin.appelation.centroide.y|safe }}, {{ vin.appelation.centroide.x|safe }} ], 9);             
      L.geoJson({{ geojson|safe }}, {
        style: function(feature) {
          switch (feature.properties.model) {
              case 'appli.appelation':
                return {color: "rgba(255, 125, 132, 0.8)", "opacity": 0.4, fillColor:"rgba(255, 125, 132, 1)"};
          }
        },
        onEachFeature: onEachFeature,
        pointToLayer: function(feature, latlng) {
          return new L.CircleMarker(latlng, {radius: 1, fillOpacity: 0.85});
        }
      }).addTo(detail.map);
      });
	</script>

{% endblock %}